<!doctype html>
<html class="no-js" lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Content schema examples</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <style media="screen">
        body {
          margin: 0 auto;
          padding: 0 1em 3em;
          max-width: 80em;
          color: #111;
          background: #fff;
          font: medium 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }

        table {
          border-collapse: collapse;
        }

        table th,
        table td {
          padding: .75em 1.2em;
          border-bottom: 1px solid #ddd;
        }

        table th {
          text-align: left;
          border-bottom: 2px solid #ddd;
        }

        table tbody tr:nth-child(odd) {
          background-color: #fafafa;
        }
      </style>
  </head>
  <body>
    <h1>Content schema examples</h1>
    
    <table>
    <% schema_examples.each do |schema_name, examples| %>
      <h2><%= schema_name %> (<a href="https://docs.publishing.service.gov.uk/content-schemas/<%= schema_name %>.html">docs)</a></h2>
      
      <ul>
        <li>
          <a href='/api/content/examples/<%= schema_name %>/random'><strong>randomly generated example</strong></a>
        </li>

        <% examples.each do |example| %>
          <li>
            <a href='/api/content/examples/<%= schema_name %>/<%= example[:example_name] %>'><%= example[:example_name] %></a>
          </li>
        <% end %>
      </ul>
    <% end %>
  </body>
</html>
